body{padding-top: 70px}
h1 , h2 , h3 , h4 , h5 , h6 {font-weight: bold;color: #333}
/******************** About Intro ****************/
.about-intro {padding-bottom: 60px ; padding-top: 60px}
/*******************************************NavBar********************/
.navbar {min-height: 70px}
.navbar-inverse .navbar-nav > li > a {color: #BBB;transition: color .5s ease;padding-bottom: 25px;padding-top: 25px;font-size: 16px}
.dropdown-menu {background-color: #333;color: #BBB;min-width: 200px}
.navbar-right .dropdown-menu {left:0px;right: auto}
.dropdown-menu > li > a {color: #BBB;padding: 6px 20px;transition: padding 0.5s ease,background-color 0.4s ease,color 1s ease}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {color: #FFF;padding-left: 25px }
.dropdown-menu .divider {background-color: #871818}
.navbar-brand{font-size: 30px;line-height: 40px;color: #BBB}
.navbar-inverse .navbar-toggle {margin-top: 18px}

/********************** Breadcrumb ***************************/
.bread {background-color: #EEE;padding:10px 0px}
.breadcrumb {margin: 0;padding: 0px;background-color: #EEE}

/*****************************Footer***********************/
footer {padding-top: 60px;background-color: #333;color: #AAA}
footer h3 {font-weight: bold;letter-spacing: 1px;margin-bottom: 20px}
footer .three-col {overflow: hidden}
footer .three-col li {width: 33.33333%;float: left;margin-bottom: 38px}
footer .social-list {overflow: hidden}
footer .social-list li {float: left;margin-right: 10px}
footer a {color: #AAA;text-decoration: none}
footer a:hover {color: #FFF;text-decoration: none}
footer .img-thumbnail {background-color: rgba(0,0,0,.2);border:1px solid #333}
footer .copy {background: #111;color:#AAA;padding: 15px 0px;margin-top: 60px;font-size: 18px}
footer .copy span {font-weight: bolder}
/********************** Tool Box *******************/
.option-box {position: fixed;top:100px;left:0px;z-index: 9999}
.option-box .colors {float: left;background: #333;color: #FFF;padding: 10px;width: 200px;opacity: .7;border-radius: 10px;display: none}
.option-box .colors ul li {width: 20px ; height: 20px;float: left;margin-right: 3px;cursor: pointer}
.option-box .gear-cheak {padding: 3px;border-radius: 5px;color: #FFF;margin-top: 10px;cursor: pointer;z-index: 9999;overflow: hidden}
.spin {animation: spin 5s infinite linear;}
@keyframes spin {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}
/******************************Scroll************************************/
#scroll-top{width: 50px;height: 40px;padding: 5px;color: #DDD;position: fixed;right: 10px;bottom: 10px;border-radius: 5px;display: none;cursor: pointer}
#scroll-top i {line-height: 26px;bottom: 13px}

/*______________________Sections_______________*/
.about , .features , .testimonial , .price , .ourteam .team , .subscribe , .statistics .data , .ourskills , .contact-us .contact , .client {overflow: hidden}